/*  your css code here. If applicable */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

/* Odd rows */
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Even rows */
tr:nth-child(even) {
  background-color: #ffffff;
}
